<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-1" href="#">
      <div class="h3 pr-2">{{appName}}</div>
    </a>
    <ul class="social-buttons navbar-nav flex-row d-flex align-items-center">
      <li class="h2 mb-0">
        <a [href]="repositoryName" target="_blank" title="Open GitHub Repo" class="text-decoration-none text-dark">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>